$gray-color: #dedede;
$half-dark-gray: #6f6f6f;
$dark-gray: #4d4d4d;

@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Regular.woff2') format('woff2'),
  url('../fonts/Asap-Regular.woff') format('woff'),
  url('../fonts/Asap-Regular.ttf') format('truetype'),
  url('../fonts/Asap-Regular.svg#Asap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Asap-Bold';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Bold.woff2') format('woff2'),
  url('../fonts/Asap-Bold.woff') format('woff'),
  url('../fonts/Asap-Bold.ttf') format('truetype'),
  url('../fonts/Asap-Bold.svg#Asap-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Asap-Italic';
  src: url('../fonts/Asap-Italic.eot');
  src: url('../fonts/Asap-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Italic.woff2') format('woff2'),
  url('../fonts/Asap-Italic.woff') format('woff'),
  url('../fonts/Asap-Italic.ttf') format('truetype'),
  url('../fonts/Asap-Italic.svg#Asap-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


*{
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: $gray-color;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 90px;
  line-height: 90px;
  margin-bottom: 0;
  .navbar-header {
    .navbar-brand {
      :hover {
        opacity: .5;
      }

      img {
        transition: 0.3s;
      }

    }
  }

  .navbar-nav li {
    margin-left: 30px;
    a {
      font: 16px Asap-Regular;
      text-transform: uppercase;
      color: $dark-gray;
      margin-top: 35px;
      padding: 0 0 10px;
      transition: 0.3s;
      border-bottom: solid 1px transparent;
      &:hover {
        color: $dark-gray;
        border-bottom: $dark-gray;

      }
    }
  }
}
.main-info-sec{
  padding-top: 130px;
  .top-sec-h4{
    font: 18px Asap-Bold;
    color: #909090;
    margin-top: 0;
  }
  .top-sec-h2{
  font: 88px Asap-Bold;
  color: $dark-gray;
    margin-bottom: 0;
}
  .top-sec-btn-block{
    margin-top: 25px;
    .top-sec-btn{
      display: block;
      background-color: transparent;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      font: 16px Asap-Bold;
      color: $dark-gray;
      text-transform: uppercase;
      text-decoration: none;
      text-underline: none;
      border: 1px solid $dark-gray;
      margin-right: 20px;
      transition: 0.4s;
      &:hover{
        border: none;
        background-color: white;
        -webkit-box-shadow: 1px 1px 10px 1px #949494;
        box-shadow: 1px 1px 10px 1px #949494;
      }
    }
  }

}
.top-sec{
  background-color: $gray-color;
  padding-top: 10px;
  padding-bottom: 10px;
  .person-on-circle{
    img{
      width: 100%;
    }
  }
}
.main-h-of-sec{
   font: 35px Asap-Bold;
   color: $half-dark-gray;
   letter-spacing: 6px;
   line-height: 35px;
   margin-bottom: 15px;
   margin-top: 15px;
   padding: 0;
   text-transform: uppercase;
 }
.first-line{
  height: 3px;
  width: 50px;
  background-color: $half-dark-gray;
}
.line{
  display: inline-block;
   height: 3px;
   width: 50px;
  margin-top: 120px;
   background-color: $half-dark-gray;
 }
.kmam-sec{
  margin-top: 110px;
  margin-bottom: 120px;
  .kmam-txt-div{
    padding-top: 68px;


    .kmam-p{
      font: 15px Asap-Regular;
      font-weight: 550;
      line-height: 20px;
      color: $dark-gray;
      padding: 0;
      margin-bottom: 40px;
    }
    .cv-download-btn{
      display: block;
      background-color: transparent;
      height: 50px;
      text-align: center;
      font: 16px Asap-Bold;
      color: $dark-gray;
      text-transform: uppercase;
      text-decoration: none;
      text-underline: none;
      border: 1px solid $dark-gray;
      margin-right: 20px;
      transition: 0.4s;
      &:hover{
        border: none;
        background-color: white;
        -webkit-box-shadow: 1px 1px 10px 1px #949494;
        box-shadow: 1px 1px 10px 1px #949494;
      }
    }
  }
  .kmam-img-div{
    img{
      width: 100%;
    }
  }
}
.services-sec{
  background-color: #f6f6f6;
  text-align: center;
  .services-div{
    margin-top: 70px;
    padding-bottom: 40px;

  }
  .item-h6{
    font: 24px Asap-Bold;
    color: $dark-gray;

  }
  .item{
    height: 110px;
    margin-bottom: 80px;
    img{
      height: 75px;
    }
  }
}
.my-skills-sec{
  text-align: center;
  background-color: white;
  .skill-img-div{
    margin-top: 62px;
    margin-bottom: 125px;
    .img-div{
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }
}
.portfolio-sec{
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 120px;
  .portfolio-item{
    overflow: hidden;
    height: 318px;
    line-height: 318px;
    text-align: center;
    .portfolio-item_img{
      width: 100%;
      transition: 0.3s;

      &:hover {
        transform: scale(0.8);
        -webkit-box-shadow: 0 1px 10px 10px #D6D6D6;
        box-shadow: 0 1px 10px 10px #D6D6D6;
      }
    }
  }

  .load-more-btn{
    margin-top: 30px;
    display: block;
    background-color: transparent;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    font: 16px Asap-Bold;
    color: $dark-gray;
    text-transform: uppercase;
    text-decoration: none;
    text-underline: none;
    border: 1px solid $dark-gray;
    margin-right: 20px;
    transition: 0.4s;
    &:hover{
      border: none;
      background-color: white;
      -webkit-box-shadow: 1px 1px 10px 1px #949494;
      box-shadow: 1px 1px 10px 1px #949494;
    }
  }
}
.testimonials-sec{
  text-align: center;
  background-color: white;
  padding-bottom: 120px;
  .testimonials-carousel{
    display: inline-block;
    height: 350px;
    border: 1px solid black;
  }
}
.stat-numbers-sec{
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 150px;
  .stat-number-item{
    img{
      height: 75px;
    }
    .stat-numbers-h5{
      font: 22px Asap-Bold;
      color: #363636;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    .stat-numbers-h6{
      font: 18px Asap-Regular;
      color: #363636;
      text-transform: uppercase;
    }
  }
}
.say-hello-sec{
  text-align: center;
  background-image: url("../images/contact bg.png");
  background-size: cover;
  .say-hello-form{
    margin-top: 55px;
  }
  .white-line{
    background-color: #c1c1c1;
  }
  .white-h{
    color: #f0f0f0;
  }
  div form{
    .send-btn{
      display: block;
      background-color: transparent;
      height: 50px;
      text-align: center;
      font: 16px Asap-Bold;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      text-underline: none;
      border: 1px solid white;
      margin-right: 20px;
      transition: 0.4s;
      margin-bottom: 60px;
      .fa-paper-plane{
        margin-left: 5px;
        font-size: 14px;
      }
      &:hover{
        border: none;
        color: $dark-gray;
        background-color: white;
        -webkit-box-shadow: 0 1px 10px 10px #5c5c5c;
        box-shadow: 0 1px 10px 10px #5c5c5c;
      }
    }
    div .say-hello-input{
      height: 60px;
      display: block;
      width: 100%;
      line-height: 60px;
      padding-left: 10px;
      background-color: white;
      color: $dark-gray;
      font: 20px Asap-Regular;
      border: none;
      margin-bottom: 30px;
      &.message-box{
        height: 210px;
        line-height: 20px;
        padding-top: 20px;
        resize: none;
      }
    }
  }
  .footer-2{
    height: 85px;
    line-height: 85px;
    background-color: transparent;
    border-top: 1px solid white;
    padding: 0;
    .footer-2-h5{
      font: 16px Asap-Regular;
      color: white;
      text-align: center;
      margin-top: 35px;
    }
    .soc-buttons {
      display: flex;
      list-style-type: none;
      margin-top: 30px;
      padding: 0;

      .soc-button-item {
        margin-right: 8px;
        display: block;
        line-height: 30px;
        height: 30px;
        width: 30px;
        color: $dark-gray;
        background-color: white;
        font-size: 15px;
        transition: 0.3s;
        &.soc-1 {
          &:hover{
            background-color: #134dc1;
            color: white;
          }
        }
        &.soc-2 {
          &:hover{
            background-color: #0985bf;
            color: white;
          }
        }
        &.soc-3 {
          font-size: 20px;
          font-weight: 900;
          font-family: Asap-Bold;
          &:hover{
            text-decoration: none;
            text-underline: none;
            background-color: #c16436;
            color: white;
          }
        }
        &.soc-4 {
          font-size: 18px;
          &:hover{
            background-color: #c1302a;
            color: white;
          }
        }
        &.soc-5 {
          font-size: 18px;
          &:hover{
            background-color: #006cc1;
            color: white;
          }
        }
        &.soc-6 {
          font-size: 18px;
          &:hover{
            background-color: #c14467;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  #first-btn{
    padding-top: 7px;
  }
  #paper-plane{
    display: none;
  }
  #main-info-sec{
    padding-top: 30px;
  }
}